@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-5">
        <div class="d-flex">
            <input class="form-control" name="customerName" placeholder="Nhập tên khách hàng" />
            <button class="btn btn-primary ml-2 btn-submit">Submit</button>
        </div>
    </div>

</div>
@section Scripts {
    <script src="~/js/views/home/index.js"></script>
}
